<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#each breadcrumbs}}
        {{#if url}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a data-instantload href="{{url}}" class="breadcrumb-label" itemprop="item">
                    <span itemprop="name">{{name}}</span>
                    <meta itemprop="position" content="{{@index}}" />
                </a>
            </li>
        {{else}}
            <li class="breadcrumb {{#if @last}}is-active{{/if}}">
                <span class="breadcrumb-label">{{name}}</span>
            </li>
        {{/if}}
    {{/each}}
</ul>

<script type="application/ld+json" nonce="{{nonce}}">
{
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement":
    [
        {{#each breadcrumbs}}
        {
            "@type": "ListItem",
            "position": {{add @index 1}},
            "item": {
                "@id": {{{JSONstringify url}}},
                "name": {{{JSONstringify name}}}
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>
