//bundle b2b
// B2B Edition Theme has loading issue
.body {
  display: none;
}

#shopping_list_table,
.b2b-column-left {
  .input-text {
    padding: 0;
  }
  .product-qty-col {
    input {
      padding: 0;
      text-align: center;
    }
  }
}
.b2b-wrap.title-wrap {
  position: inherit !important;
}

.productView-options [data-shoppinglist-add] {
  width: 100% !important;
  margin-top: 0;
}
.rfq-form-wrapper .form-container .products-container .product-list-item-container .form-input {
  min-width: 100px !important;
}
.rfq-button-container.rfq-cart-button-container .button {
  margin: 1rem !important;
}
.sidebarBlock .productList .listItem-buttons .button,
.productList--maxCol1 .listItem-buttons .button,
.productList--maxCol4 .listItem-buttons .button {
  margin: 0 !important;
}
.b2b-wrap .title-wrap {
  position: unset !important;
}

// add to quote button
#add-to-cart-wrapper {
  .rfq-pdp-button-container {
    .add-to-quote {
      margin-top: 1.5rem;
    }
  }
}

// my quote quantity countPill
#my-quote-entry {
  position: relative;
  .quote-quantity.countPill {
    min-width: unset !important;
    margin: 0;
    right: 0;
    top: -16px;
  }
}
