<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar01">
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="/pringles/"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/sidebar-pringles.png" alt="Sample Banner" /></a>
            </div>
        </div>

    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="/purell/"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/sidebar-purell.png" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="/clorox-main-brand/"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/sidebar-clorox.png" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>
