<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar01">

    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.groceries-link-1}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/{{theme_settings.groceries-filename-1}}" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>

    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.groceries-link-2}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/{{theme_settings.groceries-filename-2}}" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.groceries-link-3}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="/product_images/uploaded_images/{{theme_settings.groceries-filename-3}}" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>
