<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar01">
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.health-beauty-link-1}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/{{theme_settings.health-beauty-filename-1}}" alt="Sample Banner" /></a>
            </div>
        </div>

    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.health-beauty-link-2}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/{{theme_settings.health-beauty-filename-2}}" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="{{theme_settings.health-beauty-link-3}}"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/{{theme_settings.health-beauty-filename-3}}" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>
