<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar01">
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="#"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/brugal-anejo-img.png" alt="Sample Banner" /></a>
            </div>
        </div>

    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="#"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/cosmo-diva-banner-ad.png" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="#"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://cdn11.bigcommerce.com/s-defdxib8co/images/stencil/original/image-manager/polar-banner-ad.png" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>
