:root{
         --bg-zblock:#da0731;
         --bg-header:#ff1744;
}
/*font global styles*/
body{
        background-color:#f1f1f2;
}
.font-bold{
         font-weight: bold;
}
.font-bolder{
         font-weight:bolder;
}
.text-white{
         color:#ffffff;
}
.d-flex{
        display:flex;
}
.d-block{
        display:block;
}
.justify-content-center{justify-content: center;}.align-items-center{align-items: center;}

/*carousel in home page*/
.heroCarousel-content{
         text-align:left;
         margin:0 7%;
         .heroCarousel-title{
                  font-size:28px;
                  color:white;
                  font-weight:500;
         }
         .heroCarousel-description{
                  color:white;
                  font-size:24px;
         }
         .heroCarousel-action{
                  border-radius:5px;
         }
}
/*global header */
header.header{
         background-color:var(--bg-header);
     
         .navUser-item{
                  .navUser-action{
                           margin-top:0;
                           padding:5px;
                  }
         }
         
         .emthemesModez-header-topSection{
                  background-color:var(--bg-zblock);
         }
         .emthemesModez-header-userSection{
                  padding-top:0.75rem;
         }
         .navPages-container{
                 .container{
                          .navPages{
                                   background-color:var(--bg-header);
                                    .header-nav{
                                             display:flex;
                                             justify-content: center;
                                             width:100%;
                                    }
                          }
                 }
         }
         .phone-call-us{
                  border:1px solid white;
                  border-radius:5px;
                  padding:4px 8px;
                  margin-right:30px;

         }
         .account-container{
                  margin-left:30px;
                 a{
                  display:flex;
                  align-items: center;
                  i{
                           padding-right:10px;
                  }
                 }
         }
         /*over ride search icon */
         .emthemesModez-quickSearch .form-field:before{
                  height:100%;
                  line-height:4rem;
         }
         .emthemesModez-quickSearch .form-input{
                  padding:2rem 2rem;
         }
}

/*home sidebar */
.sidebarBlock{
        h5.sidebarBlock-heading{
                background-color:white;
                border-bottom:1px solid rgb(199, 199, 199);
        
        }
        ul.navList li.navList-item{
                border:none !important;
        }
}
/*home body content*/
.full{
        .featured-products-container{
                margin-top:2rem;
                @media(max-width:1023px){
                        .text-gray-800{ 
                                font-size:22px;
                        }
                }
                @media(max-width:800px){
                        flex-direction: column;
                        .col{
                                margin-bottom:20px;
                                padding:0;
                        }
                }       

        }
        .featured-prod{
                .card-text--brand,.card-text--price,.card-title{
                        text-align:center;
                }
                .card-title a{
                        text-decoration: none !important;
                        /* font-size: 15px; */
                        text-transform: uppercase !important;
                        color: #5e5e5e !important;
                
                }
                

        }
    
   
}
/*tabs*/

        .emthemesModez-specialProductsTabs ul li.tab.is-active{
                width:100% !important;
                border-bottom:0;
            
                a{
                        border-bottom:unset;
                        background-color:var(--bg-header) !important;
                        text-align:center;
                        color:white !important;
                        border-radius:8px !important;
                }
         }


