{{#each shipping_messages}}
    {{> components/common/alert-info message}}
{{/each}}

<div class="main full">
    <div class="featured-products-container d-flex justify-content-center align-items-center">
        <div class="col pr-3 relative" data-aos="zoom-in">
            <img src="https://cdn11.bigcommerce.com/s-defdxib8co/product_images/uploaded_images/grains-cereals.png?t=1634719281&_gl=1*2nh17e*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzNDc3ODg4Ni4yMzQuMS4xNjM0Nzc5NDExLjU4" class="lazyload" alt="">
            <div class="featured-content w-full h-full absolute top-0 left-0 pr-3 d-flex justify-start align-items-center">
                <div class="w-full pl-8 pr-5 d-flex flex-col">
                    <span class="badge text-sm text-white bg-blue-400 italic py-0 px-2 w-32 text-center">
                        Crispy & Tasty
                    </span>
                    <span class="text-gray-800 text-4xl">
                        Grain & Cereals
                    </span>
                    <span class="text-white drop-shadow-md text-lg">
                           Lorem ipsum dolor sit amet. 
                    </span>
                    <a href="#" class="mt-3 w-56 bg-white text-gray-700 px-10 py-3 text-center rounded-lg">SHOP CEREALS</a>
                </div>
            </div>
        </div>
        <div class="col pl-3 relative" data-aos="zoom-in">
            <img src="https://cdn11.bigcommerce.com/s-defdxib8co/product_images/uploaded_images/ceaning-supplies.png?t=1634719283&_gl=1*102yusm*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzNDc3ODg4Ni4yMzQuMS4xNjM0Nzc5NDExLjU4" class="lazyload" alt="">
            <div class="featured-content w-full h-full absolute top-0 left-0 pr-3 d-flex justify-start align-items-center">
                <div class="w-full pl-8 pr-5 d-flex flex-col">
                    <span class="badge text-sm text-white bg-blue-400 italic py-0 px-2 w-32 text-center">
                        Household Goods
                    </span>
                    <span class="text-gray-800 text-4xl">
                        Cleaning Supplies
                    </span>
                    <span class="text-white drop-shadow-md text-lg">
                           Consectetur adipiscing elit 
                    </span>
                    <a href="#" class="mt-3 w-56 bg-white text-gray-700 px-10 py-3 text-center rounded-lg">SHOP CLEANING</a>
                </div>
            </div>
        </div>
    </div>
    
    <!--
    {{> components/emthemes-modez/sections/section section=theme_settings.section1}}
    {{{region name="home_below_section1"}}}
    -->
    {{> components/emthemes-modez/sections/section section=theme_settings.section2}}
    {{{region name="home_below_section2"}}}
    <div class="ads-container d-block mt-3 rounded-lg relative">
        <img data-aos="zoom-in" src="https://cdn11.bigcommerce.com/s-defdxib8co/product_images/uploaded_images/untitled.png?t=1634797144&_gl=1*aktj87*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzNDc5NzA5OC4yMzguMS4xNjM0Nzk4MzUyLjU3" alt="">
        <div class="ads w-full h-full absolute top-0 left-0 pr-3 d-flex align-items-center">
            <div class="w-full pl-8 pr-5 d-flex flex-col">
                <span class="text-base text-gray-700 text-left">
                   Always Taking Care
                </span>
                <span class="text-xl text-left">
                    In store or online, your health is our top priority
                </span>

            </div>
        </div>
    </div>
    <!--
    {{> components/emthemes-modez/sections/section section=theme_settings.section3}}
    {{{region name="home_below_section3"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section4}}
    {{{region name="home_below_section4"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section5}}
    {{{region name="home_below_section5"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section6}}
    {{{region name="home_below_section6"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section7}}
    {{{region name="home_below_section7"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section8}}
    {{{region name="home_below_section8"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section9}}
    {{{region name="home_below_section9"}}}
    -->

</div>

